.logincontainer{
    width: 100vw;
    height: 50vh;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginform{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    width: 25%;
    height: 65%;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.loginform input{
    padding-left: 15px;
}